
.card-konfirmasi-bayar {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;

    padding: 24px 24px 17.05px 24px;
}

.container-content-konfirmasi {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
}

.txt-konfirmasi {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}